.albumList{
    list-style: none;
    margin-top: 2em;
    text-align: center;
    border: 2px solid white;
    border-radius: 0.5em;
    margin: 80px 400px 0 400px;
}
.albumList li{
    background-color: #232B2B;
    margin-top: 1em;
    font-size: 2em;
    display: flex;
    font-size: medium;
    justify-content: space-around;
    align-items: center;
}
.albumList :nth-child(3){
    margin-bottom: 1em;
}
form{
    padding: 60px 300px 200px 300px;
}
label{
    font-size: 1em;
    margin-left: 10px;
}
input{
    font-size: 1em;
    margin-bottom: 20px;
    padding: 10px 5px 10px 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.5em;
    color: grey;
    margin-left: 10px;
    width: 100%;
}
textarea{
    font-size: 1em;
    padding: 10px 5px 10px 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.5em;
    color: grey;
    margin-left: 10px;
    width: 100%;
    height: 200px;
}
button{
    font-size: 1em;
    padding: 14px 48px;
    border-radius: 0.8em;
    background-color: white;
    color: black;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
input:hover{
    border: 2px solid grey;
}
@media only screen and (max-width: 1800px){
    .albumList{
        margin: 20px 100px 0 100px;
    }
}